upstream api_server {
    server ${HOST_IP}:5100;
    keepalive 32;
}

upstream websocket_server {
    server ${HOST_IP}:15674;
    keepalive 32;
}

upstream seq_server {
    server ${HOST_IP}:5341;
    keepalive 32;
}

upstream rabbitmq_server {
    server ${HOST_IP}:15672;
    keepalive 32;
}

upstream pgadmin_server {
    server ${HOST_IP}:7200;
    keepalive 32;
}

upstream portainer_server {
    server ${HOST_IP}:9443;
    keepalive 32;
}